.partner-item {
    text-align: center;

    a {
        display: inline-block;

        img {
            width: auto !important;
            display: inline-block !important;
        }
    }
}

/* Max width 767px */
@media only screen and (max-width: 767px) {

    

}

/* Min width 576px to Max width 767px */
@media only screen and (min-width: 576px) and (max-width: 767px) {

    

}

/* Min width 768px to Max width 991px */
@media only screen and (min-width: 768px) and (max-width: 991px) {

    

}

/* Min width 992px to Max width 1199px */
@media only screen and (min-width: 992px) and (max-width: 1199px) {

    

}

/* Min width 1200px to Max width 1355px */
@media only screen and (min-width: 1200px) and (max-width: 1355px) {

    

}

/* Min width 1550px */
@media only screen and (min-width: 1550px) {



}