.about-content {
    margin-bottom: 40px;

    .sub-title {
        display: block;
        font-weight: 600;
        margin-bottom: 12px;
        color: var(--mainColor);
    }
    h2 {
        font-size: 36px;
        margin-bottom: 15px;
    }
    p {
        margin-bottom: 25px;

        &:last-child {
            margin-bottom: 0;
        }
    }
    h3 {
        font-size: 22px;
        margin-bottom: 10px;
    }
    .content {
        margin-bottom: 25px;

        &:last-child {
            margin-bottom: 0;
        }
    }
}
.about-image {
    margin-bottom: 30px;
}

/* Max width 767px */
@media only screen and (max-width: 767px) {

    .about-content {
        text-align: center;
        margin-bottom: 30px;

        .sub-title {
            font-size: 13px;
        }
        h2 {
            font-size: 24px;
        }
        h3 {
            font-size: 18px;
        }
    }

}

/* Min width 576px to Max width 767px */
@media only screen and (min-width: 576px) and (max-width: 767px) {

    

}

/* Min width 768px to Max width 991px */
@media only screen and (min-width: 768px) and (max-width: 991px) {

    .about-content {
        text-align: center;
        margin-bottom: 30px;

        .sub-title {
            font-size: 13px;
        }
        h2 {
            font-size: 30px;
        }
        h3 {
            font-size: 20px;
        }
    }

}

/* Min width 992px to Max width 1199px */
@media only screen and (min-width: 992px) and (max-width: 1199px) {

    .about-content {
        h2 {
            font-size: 35px;
        }
    }

}

/* Min width 1200px to Max width 1355px */
@media only screen and (min-width: 1200px) and (max-width: 1355px) {

    

}

/* Min width 1550px */
@media only screen and (min-width: 1550px) {



}