<app-sidebar></app-sidebar>
<!-- Start Page Title Area -->
<div class="page-title-area" *ngFor="let Content of pageTitle;" style="background-image: url({{Content.bgImage}}); margin-top:0px">
    <h1>{{Content.title}}</h1>
</div>
<!-- End Page Title Area -->

<!-- Start Cart Area -->

<section class="cart-area ptb-100">
    <div class="container">
        <div *ngIf="(products ===null)">
            <p>There are no products</p>
        </div>
    </div>
    <div class="container">
        <div class="create">
            <a  routerLink="/addProduct" class="default-btn"><i class='bx bx-paper-plane'></i>ADD PRODUCT</a>
        </div>
        <form>
            <div class="cart-table table-responsive">
                <table class="table table-bordered" *ngIf="(products != null)">
                    <thead>
                        <tr>
                            <th scope="col">Product</th>
                            <th scope="col">Name</th>
                            <th scope="col">Purchasing Price</th>
                            <th scope="col">Unit Price</th>
                            <th scope="col">discount</th>
                            <th scope="col">Category</th>
                            <th scope="col">Style</th>
                            <th scope="col">Brand</th>
                            <th scope="col">Color</th>
                            <th scope="col">Dimensions</th>
                            <th scope="col">Stock</th>
                            <th scope="col">Special Feature</th>
                            <th scope="col">Describtion</th>
                            <th></th>
                            <th></th>
                            <th></th>
                        </tr>
                    </thead>

                    <tbody>
                        <tr *ngFor="let item of products">
                            <td class="product-thumbnail">
                                <a  routerLink="/Products/{{item.product_ID}}" ><img src="{{item.pictureURL}}" alt="item"></a>
                            </td>

                            <td class="product-name">
                                <a  routerLink="/Products/{{item.product_ID}}">{{item.name}}</a>
                            </td>

                            <td class="product-price">
                                <span class="unit-amount">{{item.pPrice}}</span>
                            </td>

                            <td class="product-price">
                                <span class="unit-amount">{{item.sPrice}}</span>
                            </td>

                            <td class="product-price">
                                <span class="unit-amount">{{item.discount}}</span>
                            </td>
                            <td class="product-price">
                                <span class="unit-amount">{{item.productType}}</span>
                            </td>

                            <td class="product-price">
                                <span class="unit-amount">{{item.style}}</span>
                            </td>

                            <td class="product-price">
                                <span class="unit-amount">{{item.productBrand}}</span>
                            </td>

                            <td class="product-price">
                                <span class="unit-amount">{{item.color}}</span>
                            </td>

                            <td class="product-price">
                                <span class="unit-amount">{{item.dimensions}}</span>
                            </td>

                            <td class="product-price">
                                <span class="unit-amount">{{item.stock}}</span>
                            </td>

                            <td class="product-price">
                                <span class="unit-amount">{{item.specialFeature}}</span>
                            </td>

                            <td class="product-price">
                                <span class="unit-amount">{{item.describtion}}</span>
                            </td>

                            <td class="product-price">
                                <a  routerLink="/updateProduct/{{item.product_ID}}" >Update</a>
                            </td>

                            <td class="product-price">
                                <a   routerLink="/Products/{{item.product_ID}}">Details</a>
                            </td>

                            <td class="product-subtotal">
                                <a  routerLink="/products" class="remove" (click)="removeItem(item.product_ID)"><i class='bx bx-trash'></i></a>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </form>
    </div>
</section>
<!-- End Cart Area -->
