<app-sidebar></app-sidebar>

<!-- Start Page Title Area -->
<div class="page-title-area" *ngFor="let Content of pageTitle;" style="background-image: url({{Content.bgImage}});margin-top: 0px;">
    <h1>{{Content.title}}</h1>
    <ul>
        <li><a routerLink="/Products">Home</a></li>
        <li>{{Content.title}}</li>
    </ul>
</div>
<!-- End Page Title Area -->

<!-- Start Profile Authentication Area -->
<section class="profile-authentication-area ptb-100">
    <div class="container">
        <div class="row">
            <div class="col">
                <div class="login-form">
                    <h2>Add Category</h2>

                    <form [formGroup]="addForm" (ngSubmit)="onSubmit()">

                        <div class="formStyles d-flex justify-content-between">
                            <div class="form-group">
                                <label>Name</label>
                                <input [class.is-invalid]="addForm.get('name')?.invalid&&addForm.get('name')?.touched"
                                formControlName="name" type="text" class="form-control" placeholder="Name">
                                <div *ngIf="addForm.get('name')?.errors?.['required']" class="invalid-feedback">Name is required <br> No more than 30 characters </div>
                            </div>
                        </div>
                        <button [disabled]="addForm.invalid" type="submit">ADD</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Start Profile Authentication Area -->
